table{
    width: 50%;
    border:1px solid #ccc;
    border-radius: 3px;
    padding: 2px;;
    margin-top: 20px;
    thead{
        tr{
            th{
                text-align: left;
                border-bottom: 3px solid #fff;
            }
        }
    }
    tbody{
        tr{
            &:nth-child(odd){
                td{
                    background-color: #f2f2f2;
                }
            }
            td{
                padding: 5px;
            }
        }
        button{
            cursor: pointer;
        }
    }
}

input{
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 8px 10px;
    width: 15%;
}